@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}
.login{
    height: 92vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,#3D087B,#F43B86);
}
.login_container{
    height: 50vh;
    width: 30vw;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.login_container>form{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.login_container>form>input{
    height: 5vh;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding-left: 20px;
}
.login_container>h1{
    font-size: 3rem;
    margin-top: 20px;
    font-family: 'Prompt',sans-serif;
}
.submitbtn{
    height: 5vh;
    width: 7vw;
    background-image: linear-gradient(to right,#3D087B,#F43B86);
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    font-size: 1.2rem;
}
.submitbtn:hover{
    transform: translateY(-5px);
    transition: all .5s;
}
.submitbtn:active{
    transform: translateY(5px);
    transition: all .5s;
}